# WAP to check prime number of not

n = 11 
Prime Number >> If the num is divisible by 1 and itself

4 >> 1,2,4
5 >> 1,5
13 >> 1,13

13 is prime number
14 is not prime number

In [4]:
number = int(input("Enter Any number to check prime or not:")) # 1000
count = 0
for i in range(2,int(number/2)):
    if number%i==0:
        count=count+1 # 1 or 1000
        break
        
if count==0:
    print(f"Number {number} is Prime")
else:
    print(f"Number {number} is Not Prime")

Enter Any number to check prime or not:1000
Number 1000 is Not Prime

In [13]:
# use that code for prime


num = int(input("Enter number: "))
for i in range(1,(num+1)):     #i=1,i=2,i=3,i=4 
                                # why 1 becoz we want 1 to 4 no
                               #num+1 : if we take 4 then 1 to 4
    if (num % i) == 0:        # 4 % 1 == 0: 4 % 2 == 0: 4 % 3 == 0: 4 % 4 == 0:
        print(f"Given number{num} is not a prime")
        break
    else:
        print(f"Given number {num} is a prime")
        break

Enter number: 4
Given number4 is not a prime

In [12]:
num = int(input("Enter number: ")) # 15

for i in range(2,int(num/2) + 1): # 2 to 12
    print(i,num % i)
    if (num % i) == 0: #True  #  Remainder == 0
        print(f"Given number{num} is not a prime")
        break
else:
    print(f"Given number {num} is a prime")

Enter number: 3
Given number 3 is a prime

# Factorial of Number

In [ ]:
5 >> 5 * 4 * 3 * 2 * 1
4 >> 4 * 3 * 2 * 1
5 >> 6 * 5 * 4 * 3 * 2 * 1

In [14]:
n = int(input())
fact = 1

if n < 0: # -1 < 0
    print("Factorial does not exist")
 
elif n == 0:                             #0==0
    print(f"Factorial of {n} is 1") 
    
else:
    for i in range(1,n+1): # range (1,1)  i=1,i=2,i=3
         fact = fact * i    # 1=1*1=1,  1=1+2=3,   3=3+3=6
      
    print(f"Factorial of {n} is {fact}")

3
Factorial of 3 is 6

In [69]:
1 < 0

True

In [27]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
print('Python',end = ' ')
print('Class')             # Python+++Class

Python Class

In [8]:
print('Python',end=' ')
print('Class')             # Python+++Class
print("Data Science")

Python Class
Data Science

In [10]:
print('Python',end = ' ')
print('Class',end=' ')            
print("Data Science")

Python Class Data Science

In [ ]:
pythonClass

In [45]:
sum([20,30,40])

90

In [22]:
for i in range(-10,-1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [24]:
list(range(-5,-2))

[-5, -4, -3]

In [46]:
list(range(-10,-5))

[-10, -9, -8, -7, -6]

# Nested For loop

In [ ]:
for loop inside for loop

for var_name in sequence:
    statements
    statements
    for var_name2 in sequence2:
        statements
        statements

In [5]:
l1 = [20,30,40,60]
l2 = [100,200]

print('List1 Items')
for num in l1:
    print(num)
    
print("List2 items")
for num2 in l2:
    print(num2)

List1 Items
20
30
40
60
List2 items
100
200

In [31]:
l1 = [20,30,40,60]
l2 = [100,200]

for num in l1: # num = 30
    print("Number in list 1 in :",num)  # 20
    print("***********")   
    for num2 in l2:  #
        print('hello')   # 100, 200
        
    print()

Number in list 1 in : 20
***********
hello
hello

Number in list 1 in : 30
***********
hello
hello

Number in list 1 in : 40
***********
hello
hello

Number in list 1 in : 60
***********
hello
hello

In [29]:
l1 = [20,30,40,60]
l2 = [100,200]

for num in l1: # num = 30
    print("Number in list 1 in :",num)  # 20
    print("***********")   
    for num2 in l2:  #
        print(num2)
                   
            
print()

Number in list 1 in : 20
***********
100
200
Number in list 1 in : 30
***********
100
200
Number in list 1 in : 40
***********
100
200
Number in list 1 in : 60
***********
100
200

In [26]:
s1 = 'python'

for char in s1:  # 6 
    print("Char is :",char)
    for i in range(5): 
        print("*****")
        
    print(end = '\n')

Char is : p
*****
*****
*****
*****
*****

Char is : y
*****
*****
*****
*****
*****

Char is : t
*****
*****
*****
*****
*****

Char is : h
*****
*****
*****
*****
*****

Char is : o
*****
*****
*****
*****
*****

Char is : n
*****
*****
*****
*****
*****

In [99]:
s1 = 'python'

for i in range(5):  # 5
    print("Iteration num is :",i)
    for i in range(3):
        print(s1)
    print()

Iteration num is : 0
python
python
python

Iteration num is : 1
python
python
python

Iteration num is : 2
python
python
python

Iteration num is : 3
python
python
python

Iteration num is : 4
python
python
python

# Patterns

In [110]:
for i in range(5): # i = 0
    for j in range(5):
        print("*",end = ' ')
    print(end = '\n')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [112]:
n = 5
for i in range(0,n):  # 5
    for j in range(n):
        print("*",end = ' ')
    print(end = '\n')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [116]:
n = 5
for i in range(1,n+1):  # i = 5
    for j in range(i): # j = 0,1,2,3,4
        print("*",end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * * 
* * *
* * 
*

In [122]:
n = 5
for i in range(n,0,-1): 
    for j in range(i):
        print("*",end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [136]:
n = 5
for i in range(n,0,-1):  # 5
    for j in range(i):
        print("*",end = ' ')
    print(end = '\n')

* * * * *
* * * *
* * *
* *
*

In [139]:
n = 100
chr(n)

'd'

In [135]:
chr(65) # A
chr(90) # Z

chr(97) # a
chr(122) #z

'z'

In [143]:
n = 5
for i in range(n):  # 5
    for j in range(n):
        print(chr(100),end = ' ')
    print(end = '\n')

d d d d d
d d d d d
d d d d d
d d d d d
d d d d d

In [145]:
n = 5
c = 65
for i in range(n):  # 5
    for j in range(n):
        print(chr(c),end = ' ')
    print(end = '\n')

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [147]:
n = 5
c = 65
for i in range(n):  # 5
    for j in range(n):
        print(chr(c),end = ' ')
        c += 1
    print(end = '\n')

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [149]:
n = 5
c = 97
for i in range(n):  # 5
    for j in range(n):
        print(chr(c),end = ' ')
        c += 1
    print(end = '\n')

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

In [152]:
n = 5
c = 97
for i in range(1,n+1):  # 5
    for j in range(i):
        print(chr(c),end = ' ')
        c += 1
    print(end = '\n')

a
b c
d e f
g h i j
k l m n o

In [153]:
n = 5
c = 97
for i in range(n,0,-1):  # 5
    for j in range(i):
        print(chr(c),end = ' ')
        c += 1
    print(end = '\n')

a b c d e
f g h i
j k l
m n
o

In [158]:
n = 5

for i in range(n):  # 5
    for j in range(n):
        print(j,end = ' ')
    print(end = '\n')

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [162]:
n = 5
num = 1
for i in range(n):  # 5
    for j in range(n):
        print(num,end = ' ')
        num += 1
    print(end = '\n')

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [164]:
n = 5
for i in range(n):  # 5
    num = 1
    for j in range(n):
        print(num,end = ' ')
        num += 1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [169]:
n = 5
for i in range(1,n+1):  # 5
    num = 1
    for j in range(i):
        print(num,end = ' ')
        num += 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
n = 5
num=1
for i in range(1,n+1):  # 5
    num = 1
    for j in range(i):
        print(num,end = ' ')
        num += 2
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [49]:
n=int(input("Enter the size of n: "))
m=(n*6)-6

for i in range(0,n):
    for j in range(0,m):
        print(end = " ")
    m=m-1
    for j in range(0,i+1):      
        print("+",end = " ")
        
    print("0")

Enter the size of n: 3
            + 0
           + + 0
          + + + 0