# Loops in Python

1. for 
2. while

same functionality but differnt syntax and condition checking 
It executes set of statements

# 1. For Loop

It works like an iterator
Sequence>> str,list,tuple,set,dict

for variable_name in sequences:
    print(variable_name)

# 1. for loop using string

In [8]:
string = 'Python is programming language'

# 10 time
print(string)
print(string)
print(string)
print(string)
print(string)
len(string)

Python is programming language
Python is programming language
Python is programming language
Python is programming language
Python is programming language

30

In [3]:
s='this is python program'
l = len(s)
for i in range(l):  # 0 to 4
    print(s)

this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program
this is python program

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [15]:
for i in range(10,20):  
    print(i, s)

10 this is python program
11 this is python program
12 this is python program
13 this is python program
14 this is python program
15 this is python program
16 this is python program
17 this is python program
18 this is python program
19 this is python program

In [17]:
string = 'python' # 6
for i in string:  # 6 iteration
    print(i)
    print('Data Science')  
    print("Machine Learning")

p
Data Science
Machine Learning
y
Data Science
Machine Learning
t
Data Science
Machine Learning
h
Data Science
Machine Learning
o
Data Science
Machine Learning
n
Data Science
Machine Learning

In [19]:
string = 'python class pune' # 6
for i in string.split():  # 3 iteration
    print(i)
    print('Data Science')  
    print("Machine Learning")
    print()                   # for space

python
Data Science
Machine Learning

class
Data Science
Machine Learning

pune
Data Science
Machine Learning

In [32]:
string = 'python' # 6
list(string)    # using list constructor

['p', 'y', 't', 'h', 'o', 'n']

# 2. for loop using list

In [34]:
list1 = [2,3,4,1,6,'python','class']  # 7
for i in list1:  
    print(i)

2
3
4
1
6
python
class

In [40]:
list1 = [2,3,4,1,6,'python','class']  # 7
for i in list1:  
    if type(i) == str:
        print(i)

python
class

In [43]:
list1 = [2,3,4,1,6,'python','class']
for i in range(len(list1)):
    print("we are testing for loop")

we are testing for loop
we are testing for loop
we are testing for loop
we are testing for loop
we are testing for loop
we are testing for loop
we are testing for loop

In [45]:
list1 = [2,3,4,1,6,'python','class']
for i in range(3):
    print("we are testing for loop")

we are testing for loop
we are testing for loop
we are testing for loop

# 3. for loop using tuple

In [47]:
tuple1 = (10,20,30,100,200,300)

for i in tuple1:
    print(i)

10
20
30
100
200
300

In [53]:
tuple1 = ('python',20,30,100,200,300)
count = 0
for val in tuple1:  # i = 'python'
    print(count, val) # 0 , python
    count += 1
    
val = 'python'  
val = 20
print(val)

0 python
1 20
2 30
3 100
4 200
5 300
20

In [54]:
a = 100
a = 200
print(a)

200

# enumerate function

for index,value in enumerate(sequence):
    print(index,value)
    print('We are testing enumerate function')

In [59]:
sequence = 'python'
for index,value in enumerate(sequence):
    print(f'index[{index}] == {value}')
#     print('We are testing enumerate function')

index[0] == p
index[1] == y
index[2] == t
index[3] == h
index[4] == o
index[5] == n

In [2]:
sequence = 'python'
for value in sequence:
    print(f'index == {value}')

index == p
index == y
index == t
index == h
index == o
index == n

In [61]:
sequence = 'python'
for index,value in enumerate(sequence):
    print(f'value at index[{index}] is {value}')

value at index[0] is p
value at index[1] is y
value at index[2] is t
value at index[3] is h
value at index[4] is o
value at index[5] is n

In [62]:
sequence = 'python'
for index,value in enumerate(sequence):
    print(value)

p
y
t
h
o
n

In [66]:
sequence = 'python'

for index,char in enumerate(sequence):
    print(f'value at index[{index}] is {char}')

value at index[0] is p
value at index[1] is y
value at index[2] is t
value at index[3] is h
value at index[4] is o
value at index[5] is n

In [68]:
sequence = 'python'

for k,char in enumerate(sequence):
    print(f'value at index[{k}] is {char}')

value at index[0] is p
value at index[1] is y
value at index[2] is t
value at index[3] is h
value at index[4] is o
value at index[5] is n

In [70]:
players_name = ['Rohit',"Virat",'Rishabh']

for i,player in enumerate(players_name):
    print(f'value at index[{i}] is {player}')

value at index[0] is Rohit
value at index[1] is Virat
value at index[2] is Rishabh

In [72]:
players_name = ['Rohit',"Virat",'Rishabh']

for i,player in enumerate(players_name):
    print(f'Player Names is {player}')

Player Names is Rohit
Player Names is Virat
Player Names is Rishabh

In [73]:
players_name = ['Rohit',"Virat",'Rishabh']

for i,player in enumerate(players_name):
    print(f'value at index[{i}] is {player}')

value at index[0] is Rohit
value at index[1] is Virat
value at index[2] is Rishabh

In [76]:
list1=[10,20,45,67]
total=0
for item in list1: # item = 67
    total = total + item  # total = 75 +67
print("Sum of all the element is =",total)

Sum of all the element is = 142

In [23]:
list1=[10,20,45,67]
total=0
for item in list1: # item = 67
    total = total + item  # total = 75 +67
    print("Sum of all the element is =",total)

Sum of all the element is = 10
Sum of all the element is = 30
Sum of all the element is = 75
Sum of all the element is = 142

In [79]:
list1=[10,20,45,67]
for item in list1: # item = 67
    print(item)
    if item == 20:
        print('Value found')

10
20
Value found
45
67

In [25]:
list1=[10,20,45,67]
for item in list1: # item = 67
    print(item)
    if item == 20:
        print('Value found')
        print(item)

10
20
Value found
20
45
67

# 1. break

To exit the loop
To stop iterations

In [85]:
list1 = [3,4,5,6,10,30,4,5,6]

for val in list1:  # 9 times
    print(val)
    if val == 10:
        print("Value found")
        break
        
print("Finished")

3
4
5
6
10
Value found
Finished

In [88]:
list1 = [3,4,5,6,10,30,4,5,6]

for val in list1:  # 9 times
    print(val)
    break
    
print("Finished")

3
Finished

In [92]:
list1 = [3,4,5,6,10,30,4,5,6]

for index,val in enumerate(list1):  # 9 times
    print(index,val) # 3,6
    if index == 3: # True
        break
    
print("Finished")

0 3
1 4
2 5
3 6
Finished

In [28]:
list1 = [3,4,5,6,10,30,4,5,6]

for index,val in enumerate(list1):  # 9 times
    print(index,val) # 3,6
    if index == 3:  # True
        pass  
    break
    
print("Finished")

0 3
Finished

In [30]:
list1 = [3,4,5,6,10,30,4,5,6]

for index,val in enumerate(list1):  # 9 times
    if index == 3: # True
        break
    print(index,val) # 3,6
    
print("Finished")

0 3
1 4
2 5
Finished

In [31]:
list1 = [3,4,5,6,10,30,4,5,6]

for index,val in enumerate(list1):  # 9 times
    print(index,val) # 3,6
    if index == 3: # True
        break
    
print("Finished")

0 3
1 4
2 5
3 6
Finished

In [98]:
l1 = [10,20,'python','data',30,50,'machine learning']
for val in l1:
    print(val)
    if type(val) == str:
        print("String data type found")

10
20
python
String data type found
data
String data type found
30
50
machine learning
String data type found

In [100]:
l1 = [10,20,'python','data',30,50,'machine learning']
for val in l1:
    print(val)
    if type(val) == str:
        print("String data type found")
        break

10
20
python
String data type found

In [109]:
for i in range(1,5):  # i = 3
    
    if i == 3: # True
        print("Value found")
        break  # All the furter iteration will stop
        print(i)
        print('Hello')
        
print("Finished")

Value found
Finished

# 2. continue statement

To stop current iteration, continue with next iteration

Single equal(=) is an assignment operator used to assign the values to the variables.
double equal(==)  is relational operator used to compare two variable values whether they are equal are not.

The continue statement in C programming works somewhat like the break statement. Instead of forcing termination, it forces the next iteration of the loop to take place, skipping any code in between. For the for loop, continue statement causes the conditional test and increment portions of the loop to execute.

In [114]:
for num in range(5,10):
    print(num)
    if num == 7: # True         
        print('Number found')
        continue

5
6
7
Number found
8
9

In [35]:
for num in range(5,10):
    
    if num == 7: # True
        
        print(num)
        print('Number found')
    continue

7
Number found

In [36]:
for num in range(5,10):
    
    if num == 7: # True
        print('Number found')

    print('Number is ',num)

Number is  5
Number is  6
Number found
Number is  7
Number is  8
Number is  9

In [38]:
for num in range(5,10):
    print('Number is ',num)
    if num == 7: # True
        print('Number found')
        continue

Number is  5
Number is  6
Number is  7
Number found
Number is  8
Number is  9

In [4]:
for num in range(5,10):
    if num == 7: # True
        print('Number found')
        continue  
        
    print('Number is ',num)

Number is  5
Number is  6
Number found
Number is  8
Number is  9

In [6]:
for num in range(5,10):
    if num == 7: # True
        print('Number found')
        pass
        continue  
        
    print('Number is ',num)

Number is  5
Number is  6
Number found
Number is  8
Number is  9

In [14]:
for num1 in range(5,10):
    if num1 == 7:     # True
         print("Hello")
    print('Number is ',num1)

    
    
print("Loop Completed")

Number is  5
Number is  6
Hello
Number is  7
Number is  8
Number is  9
Loop Completed

In [60]:
for num in range(5,10):
    x = 100
    print(x)
    pass

100
100
100
100
100

In [139]:
for num in range(5,10):
    if num == 7: # True
        print('Number found')
        continue  
        
print('Number is ',num)

Number found
Number is  9

In [149]:
list1 = [3,4,5,'python','data',10.0,20.5,'science',10,20,50]

int_list= []
float_list = []
str_list = []

for val in list1:
    print("value is :",val)
    
    if type(val) == int:
        int_list.append(val)
        pass
    
    elif type(val) == float:
        float_list.append(val)
        continue
        
    else:
        continue
        str_list.append(val)
        
    
print("Interger list is :",int_list)
print("Float list is    :",float_list)
print("String list is   :",str_list)

value is : 3
value is : 4
value is : 5
value is : python
value is : data
value is : 10.0
value is : 20.5
value is : science
value is : 10
value is : 20
value is : 50
Interger list is : [3, 4, 5, 10, 20, 50]
Float list is    : [10.0, 20.5]
String list is   : []

In [154]:
list1 = [3,4,5,'python','data',10.0,20.5,'science',10,20,50]

int_list= []
float_list = []
str_list = []
 
for val in list1:  # val = 3
    print("value is :",val)
    if type(val) == int:
        int_list.append(val) # [3,4,5]
        pass
    
    elif type(val) == float:   # True
                           # For loop will stop
        float_list.append(val)  # []
        break
        
    else:
        str_list.append(val)    # []
        continue
    
print("Interger list is :",int_list)
print("Float list is    :",float_list)
print("String list is   :",str_list)

value is : 3
value is : 4
value is : 5
value is : python
value is : data
value is : 10.0
Interger list is : [3, 4, 5]
Float list is    : [10.0]
String list is   : ['python', 'data']

# for - else

It will execute only when the loop is finished with all iteration
Else block will not execute if loop is stopped by break statement

In [68]:
for i in range(5):  # 5 iterations
    print(i)
    continue

    
else:
    print("Foor loop completed its all iteration")

0
1
2
3
4
Foor loop completed its all iteration

In [160]:
for i in range(5):  # 5 iterations
    print("Iteration ",i)
    if i == 3:
        print('Hello')
        pass
    
else:
    print("Foor loop completed its all iteration")

Iteration  0
Iteration  1
Iteration  2
Iteration  3
Hello
Iteration  4
Foor loop completed its all iteration

In [165]:
for i in range(5):  # 5 iterations
    print("Iteration ",i)
    if i == 3:
        print('Hello')
        continue
    
else:
    print("Foor loop completed its all iteration")

Iteration  0
Iteration  1
Iteration  2
Iteration  3
Hello
Iteration  4
Foor loop completed its all iteration

In [166]:
for i in range(10,15):  # 5 iterations
    print("Iteration ",i)
    if i == 3:
        print('Hello')
        break
    
else:
    print("Foor loop completed its all iteration")

Iteration  0
Iteration  1
Iteration  2
Iteration  3
Hello

In [74]:
list(range(10,21))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [76]:
list(range(10,21,2))

[10, 12, 14, 16, 18, 20]

In [173]:
for i in range(10,21,2): # 6
    print(i)

10
12
14
16
18
20